p
{
	text-align:left;
	font-size:13pt;
	color:#FFFFFF;
}

h2
{
	color:#FFFFFF;
}
body
{
	background:#FFA07A
}
h1
{
	text-align:center;
	color:#FFFFFF;
}
video
{
	white-space: pre;
}
h3
{
	color:#FFFFFF;
}
a 
{
	color:#FFFFFF;
}
