body 
{
	background-image: url('https://images5.alphacoders.com/108/1080938.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
table 
{
	background-image: url('https://coolbackgrounds.io/images/backgrounds/white/pure-white-background-85a2a7fd.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
p
{
	color: white;
}
h1
{
	color: white;
	text-align: center;
}
h2
{
	color: white;
}