body 
{
	background-image: url('https://images3.alphacoders.com/114/1149400.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
table 
{
	background-image: url('https://coolbackgrounds.io/images/backgrounds/white/pure-white-background-85a2a7fd.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
h1
{
	text-align: center;
}