body 
{
	background-image: url('https://i.redd.it/v2767xzfryt41.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
table 
{
	background-image: url('https://coolbackgrounds.io/images/backgrounds/white/pure-white-background-85a2a7fd.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
h1
{
	text-align: center;
}