body 
{
	background-image: url('https://w0.peakpx.com/wallpaper/156/447/HD-wallpaper-egypt-omen-valorant-games.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
table 
{
	background-image: url('https://coolbackgrounds.io/images/backgrounds/white/pure-white-background-85a2a7fd.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
p
{
	color: white;
}
h1
{
	color: white;
	text-align: center;
}
h2
{
	color: white;
}