body 
{
	background-image: url('https://preview.redd.it/2qt7xdh061b61.png?width=3840&format=png&auto=webp&s=ece0ddfce842b27b856093607fef877111aa4262');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
table 
{
	background-image: url('https://coolbackgrounds.io/images/backgrounds/white/pure-white-background-85a2a7fd.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
p
{
	color: white;
}
h1
{
	color: white;
	text-align: center;
}
h2
{
	color: white;
}